body {
    overflow-x: hidden;
    margin: 0;
    padding: 20px 0;
    background-color: #f5f7fa;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
};
li {
    list-style-type: none;
}
